[submodule "3rd-party/ospf-cpp-base"]
	path = 3rd-party/ospf-cpp-base
	url = https://github.com/fuookami/ospf-cpp-base.git
[submodule "3rd-party/magic_enum"]
	path = 3rd-party/magic_enum
	url = https://gitclone.com/github.com/Neargye/magic_enum.git
[submodule "3rd-party/rapidjson"]
	path = 3rd-party/rapidjson
	url = https://gitclone.com/github.com/Tencent/rapidjson.git
